@font-face {
  font-family: "EuclidFlex";
  src: url("/assets/fonts/EuclidFlexRegular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "EuclidFlex";
  src: url("/assets/fonts/EuclidFlexMedium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "EuclidFlex";
  src: url("/assets/fonts/EuclidFlexSemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "EuclidFlex";
  src: url("/assets/fonts/EuclidFlexBold.ttf");
  font-weight: 700;
}
//Proxima Niva
@font-face {
  font-family: "ProximaNova";
  src: url("/assets/fonts/proximanova_regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "ProximaNova";
  src: url("/assets/fonts/proximanova_light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "ProximaNova";
  src: url("/assets/fonts/proximanova_bold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "ProximaNova";
  src: url("/assets/fonts/proximanova_extrabold.otf");
  font-weight: 700;
}
