html,
body {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  height: 100%;
}

$bg-color: #F6F9FF;
$primary: #00a2e4;
$dark: #0e0f31;
$white: #fff;
$accent: #c96332;
$warn: #d73d3d;

$gray: #d5d5d5;
$gray-light: #e4e7eb;
$gray-dark: #1b1b1b;


$light-black: rgba(54, 70, 87, 0.31);
$stroke: #eef0f4;
$gray-border: rgba(217, 217, 217, 0.16);

// BREAKPOINTS

$extra_small: 400px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra_large: 1200px;
$extra_extra_large: 1500px;


// UTILS 
$transition: all 0.3s ease-out;
$dropdown-index: 5;
$modal-index: 10;
$shadow: 0px 18px 30px rgba(0, 0, 0, 0.1);

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "EuclidFlex";
  font-weight: 400;
  position: relative;
  min-height: 100vh;
  background: $bg-color;
  color: $dark;
  overflow: hidden;
}

button:focus {
  outline: 1px transparent solid;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 0;
}
h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 20px;
}
ul {
  padding-inline-start: 20px;
}
section {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  @media (max-width: $extra_small) {
    padding: 20px 0;
  }
}

svg {
  fill-opacity: 1;
}
