.login__wrapper {
  background: $white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  padding: 80px 115px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 580px;

  @media (max-width:768px) {
    padding: 30px 50px;
    width: 100%;
    max-width: 500px;
    margin: 0 20px;
  }
  & .login-hint {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    margin-top: 8px;
    margin-bottom: 20px;
    text-align: center;
  }
  &--bg {
    /* width: 100vw; */
    min-height: 100vh;

    z-index: -1;
    flex-wrap: nowrap;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;

    background: url("/assets/images/login_bg.png");
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width:567px) {
      padding: 0 10px;
    }
  }
  // & img {
  //   margin-bottom: 50px;
  // }
  & h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  & button {
    width: 100%;
  }
  & form {
    width: 100%;
  }
}
.login__separator {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  & span {
    width: 100%;
    height: 1px;
    background: $stroke;
  }
  & p {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    padding: 0 8px;
  }
}
.login__registration {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login__wrapper_top {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  gap: 15px;

  .sidemenu-user__dropdown--hiden{
    width: 100px;
  }
  .main__header--lang{
    white-space: nowrap;
  }
}
